<h2><a href="#/"><span class="fi-home home-button"></span></a> Add Company</h2>
<div class="row">
    <div class="panel small-4 small-centered radius column">
        <form id="add-company-form" name="add-company" ng-controller="AddCompanyCtrl" ng-submit="addCompany(name, address, city, zip, phone)">
            <input type="text" name="name" placeholder="Company Name" ng-model="name"/>
            <input type="text" name="address" placeholder="Address" ng-model="address"/>
            <input type="text" name="city" placeholder="City" ng-model="city"/>
            <input type="text" name="zip" placeholder="Zip Code" ng-model="zip"/>
            <input type="text" name="phone" placeholder="Phone Number" ng-model="phone"/>
            <input type="submit" class="small button secondary" value="Add Company"/>
        </form>
        <a href="#/company_profiles"><input class="small button secondary" value="Browse Companies" type="submit"/></a>
    </div>
</div>