<h2><a href="#/"><span class="fi-home home-button"></span></a> Register</h2>
<div class="row">
    <div id="login-wrap" class="panel small-4 small-centered radius column">
        <div class="form-error" ng-if="formError">
            <p>Error with Registration</p>
            <p>{{ error }}</p>
        </div>
        <form id="register-form" ng-submit="register(name, username, password, phone)">
            <input name="name" type="text" placeholder="Name" ng-model="name"/>
            <input name="username" type="email" placeholder="Email" ng-model="username" required/>
            <input name="confirm_username" type="text" placeholder="Confirm Email"/>
            <input name="password" type="password" placeholder="Password" ng-model="password"/>
            <input name="phone" placeholder="Phone Number" ng-model="phone" type="tel"/>
            <input class="small button secondary" value="Register" type="submit"/>
        </form>
    </div>
</div>