<footer>
    <ul>
        <li>
            <a href="#/company_profiles">
                <div class="tab-wrap">
                    <span class="fi-database glyph"></span><span>Companies</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/company_locations">
                <div class="tab-wrap">
                    <span class="fi-marker glyph"></span><span>Locations</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#/department_setup">
                <div class="tab-wrap">
                    <span class="fi-shopping-bag glyph"></span><span>Departments</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/employee_setup">
                <div class="tab-wrap">
                    <span class="fi-torsos-all glyph"></span><span>Employees</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#/task_setup">
                <div class="tab-wrap">
                    <span class="fi-list-thumbnails glyph"></span><span>Tasks</span>
                </div>
            </a>
        </li>
    </ul>
</footer>