<div class="menu-wrap">
    <ul class="main-menu">
        <li><a href="#/profile"><div class="fi-torso"></div>Me</a></li>
        <li><a href="#/setup_menu"><div class="fi-widget"></div>Set Up</a></li>
        <li><a href="#/monitor">Monitor<div class="fi-graph-bar"></div></a></li>
        <li><a href="#/reports">Reports<div class="fi-graph-trend"></div></a></li>
        <a href="#/checkin"><div id="check-in"><div class="fi-clock"></div>Check-In</div></a>
    </ul>
</div>
<div ng-if="!user">
    <a href="#/login">Log In</a>
    <h3>or</h3>
    <a href="#/register">Register</a>
</div>
<div ng-if="user">
    <a ng-click="logout()">Logout</a>
</div>