<h2><a href="#/"><span class="fi-home home-button"></span></a> Login</h2>
<div class="row">
    <div id="login-wrap" class="panel small-4 small-centered radius column">
        <form id="login-form" ng-submit="login(username, password)" ng-show="!user">
            <input name="username" type="text" placeholder="Email" ng-model="username"/>
            <input name="password" type="password" placeholder="Password" ng-model="password"/>
            <input class="small button secondary" type="submit" value="Log In"/>
        </form>
        <input id="logout-button" class="small button secondary" value="Log Out" type="submit" ng-click="logout()"/>
    </div>
</div>