<h2><a href="#/"><span class="fi-home home-button"></span></a> Company 1<a href="#/add_task"><span id="add-button" class="fi-plus"></span></a></h2>
<h3>Task Set Up</h3>
<div class="row">
    <div class="small-8 column small-centered radius">
        <input id="task_setup_search" type="text" placeholder="Task Name" ng-model="taskSearchQuery" ng-keyup="searchTasks($event)" />
    </div>
    <div class="search-results panel small-4 small-centered radius column">
        <span ng-show="!task">No Data Available!</span>
        <ul ng-show="task">
            <li>Task Name: {{ task.name }}</li>
            <li>Hours Worked: {{ task.hours }}</li>
            <li>Company: {{ task.company.name }}</li>
            <li>Department: {{ task.department.name }}</li>
            <h4>Check-in Log: </h4>
            <li ng-repeat="checkin in task.log">{{ checkin.timestamp | date: shortDate }}: {{ checkin.employee.username }} - {{ checkin.hours }} hours</li>
        </ul>
    </div>
</div>
<footer>
    <ul>
        <li>
            <div class="tab-wrap">
                <span class="fi-database glyph"></span><span>Companies</span>
            </div>
        </li>
        <li>
            <div class="tab-wrap">
                <span class="fi-marker glyph"></span><span>Locations</span>
            </div>
        </li>

        <li>
            <div class="tab-wrap">
                <span class="fi-shopping-bag glyph"></span><span>Departments</span>
            </div>
        </li>
        <li>
            <div class="tab-wrap">
                <span class="fi-torsos-all glyph"></span><span>Employees</span>
            </div>
        </li>
        <li>
            <div class="tab-wrap">
                <span class="fi-list-thumbnails glyph"></span><span>Tasks</span>
            </div>
        </li>
    </ul>
</footer>